body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* 배경색 */
}

header {
    background-color: #1e90ff; /* 헤더 배경색을 파란색으로 변경 */
    color: #fff; /* 글자색은 흰색으로 유지 */
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #fff; /* 네비게이션 링크 색상 흰색 */
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1e90ff; /* 푸터 배경색을 파란색으로 변경 */
    color: #fff; /* 글자색은 흰색으로 유지 */
    position: fixed;
    width: 100%;
    bottom: 0;
}
